*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**font-family: 'Rubik Distressed', cursive;
font-family: 'Raleway', sans-serif;**/
body{
    background-color: #010101;
}
header{
    background-image: linear-gradient(to right top, #383940, #2c2c31, #202023, #141415, #010101);
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    height: 30%;
    align-items: stretch;
    border-radius: 20px;
}
header nav a:hover{
    text-shadow: 0.1em 0.1em 0.2em crimson;
    padding: 10px;
}
header nav div ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style-type: none;
}
li a{
    color: whitesmoke;
    text-decoration: none;
}
.navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.navBar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
h1{
    font-family: 'Rubik Distressed', cursive;
    font-size: 55px;
    font-weight: 900;
    gap: 40px;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
}
.contactowhatsapp{
    position: fixed;
    top: 15%;
    right: 2%;
}
.contactowhatsapp a :hover{
    transform: scale(1.2);
}
.challenge{
    font-family: 'Rubik Distressed', cursive;
    font-size: 70px;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    text-align: end;
}
.mainIndex{
    background-image: url(../images/prueba.gif);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    padding: 20px;
    overflow:auto;
    border-radius: 20px;
}
.mainIndex .contactowhatsapp{
    display: flex;
    flex-wrap: wrap;
}
.mainIndex .menu ul{
    display: flex;
    flex-wrap: wrap;
}
.mainSedes{
    background-image: url(../images/imagen-sedes.jpg);
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    overflow:auto;
    border-radius: 20px;
}
.mainInscripcion{
    background-image: url(../images/imagen-formulario.jpg);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    padding: 10px;
    overflow: auto;
    border-radius: 20px;
}
.mainActividades{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    border-radius: 20px;
    display: flex;
    align-items: stretch;
    border-radius: 20px;
}
.mainActividades ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    flex-direction: row;
}
.mainActividades ul :hover{
    text-shadow: -3px -3px 3px rgb(36, 243, 226);
}
.mainActividades ul li{
    padding: 10px 75px 10px 75px;
}
.mainActividades ul li a{
    padding: 10px;
    margin: top;
    position: fixed;
}
footer{
    background-color: #010101;
    background-position: bottom;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
.formulario{
    line-height: 1;
}
.menu ul{
    line-height: 3;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik Distressed', cursive;
    font-size: 30px;
    font-weight: 200;
}
.menu ul li a :hover{
    color:crimson
}
input{
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color:#383940;
    display: flex;
    flex-wrap: wrap;
}
.mapas{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin: 20px;
    flex-wrap: wrap;
}
.sedes p{
    font-size: 25px;
    min-height: fit-content;
    min-width: fit-content;
}
.sedes :hover{
    box-shadow: 20px 20px 20px 20px grey;
}
.horarios{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.horarios :hover{
    text-decoration:underline
}
.menu{
    font-weight:  400px;
}
.redes{
    display: flex;
    gap: 40px;
    margin-top: 10px;
}
.datos{
    font-size: 30px;
    padding: 30px;
}
footer :hover{
    transform: scale(1.1);
}
.mainActividades{
    background-image: url(../images/actividades.jpg);
    width: 100%;
    height: 980px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    border-radius: 20px;
}
.mainPreguntas{
    background-image: url(../images/preguntas.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color:#2c2c31;
    overflow: auto;
}
.mainPromos{
    background-image: url(../images/promos.jpg);
    width: 100%;
    height: 900px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    color: azure;
    justify-content:stretch;
    overflow: auto;
}
button{
    background-color:#2c2c31;
    border-radius: 20px 10px 20px 10px;
}
.mainPromos ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    gap: 20px;
    justify-content:center;
}
.mainPromos ul li{
width: 400px;
height: 300px;
background-image: linear-gradient(to right bottom, #d414d4, #d72ab3, #d14099, #c45286, #b2627a, #a06271, #8e616a, #7b6064, #695356, #584749, #473b3c, #372f30);
border-radius: 90px 90px 90px 90px;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.mainPromos ul :hover{
    scale: 1.1;
}